<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacksen.supportlibrarydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomTabsSettingsDemo"
            android:label="@string/label_custom_tab_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomSheetDemo"
            android:label="@string/label_bottom_sheet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DayNightThemeDemo"
            android:label="@string/label_daynight_theme"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkLight" />
        <activity
            android:name=".VectorDrawableDemo"
            android:label="@string/label_vector_drawable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationViewDemo"
            android:label="@string/label_navigation_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimpleNaviView"
            android:label="@string/simple_navi_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
